@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main: #191919;
    --white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: var(--white);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    position: relative;
    /* overflow-x: hidden; */
    min-height: 100vh;
    max-width: 100vw;
    font-size: 1.6rem;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: 7rem 1fr 4rem;
    grid-template-columns: 1fr;
    position: relative;
}

header {
    height: 100%;
    color: var(--white);
    grid-area: header;
    line-height: 7rem;
    background: var(--main);
    padding: 0 3rem;
    font-size: 2rem;
    position: relative;
    z-index: 7;
}

header .header__logo {
    cursor: pointer;
    z-index: 7;
}

header .header__logo p {
    position: relative;
    font-size: 4rem;
    font-weight: 600;
}

header .header__logo p span {
    position: absolute;
    font-size: 3rem;
    font-weight: 500;
    padding: .8rem .4rem;
}

header .header__nav .header__nav-menu {
    display: none;
}

header .header__nav .nav__links>li {
    display: block;
    font-weight: 500;
    padding: 0 2rem;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

header .header__nav .nav__links>li:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#main {
    position: relative;
    grid-area: main;
}

#main .main__head {
    grid-area: banner;
    position: relative;
    height: calc(100vh - 11rem);
}

#main .main__head .head__video {
    height: calc(100vh - 11rem);
    width: 100%;
    object-fit: cover;
}

#main .main__head .head__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 11rem);
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#main .main__head .head__text {
    position: absolute;
    left: 7.5%;
    bottom: 10rem;
    font-size: 8rem;
    color: var(--white);
    z-index: 6;
    opacity: .85;
}

#main .main__head .head__text .explore {
    position: relative;
    max-width: max-content;
    padding: .8rem;
    font-size: 2rem;
    border: .2rem var(--white) solid;
    cursor: pointer;
    z-index: 1;
}

/* Change color when hover Explore more */
#main .main__head .head__text .explore:hover a,
#main .main__head .head__text .explore:focus a {
    color: var(--main);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#main .main__head .head__text .explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    transform-origin: left;
    z-index: -1;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#main .main__head .head__text .explore:hover::before,
#main .main__head .head__text .explore:focus::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#main .main__body {
    position: relative;
    display: grid;
    grid-template-areas:
        'product'
        'about'
        'contact';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#main .main__body .body__product {
    grid-area: 'product';
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#main .main__body .body__product .top {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-bottom: 4rem;
}

#main .main__body .body__product .top .clearfix::before,
#main .main__body .body__product .top .clearfix::after {
    content: '';
    display: block;
    width: 36%;
    height: .2rem;
    position: absolute;
}

#main .main__body .body__product .top .clearfix::before {
    left: 15%;
    bottom: 0;
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(93, 93, 105, 1) 70%, rgba(255, 255, 255, 1) 95%);
}

#main .main__body .body__product .top .clearfix::after {
    right: 15%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(93, 93, 105, 1) 70%, rgba(255, 255, 255, 1) 95%);
}


#main .main__body .body__product .product__items {
    padding: 0 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem 7rem;
    align-items: center;
    justify-items: center;
}

#main .main__body .body__product .product__items .item {
    padding: 1rem;
    height: 100%;
    width: 40rem;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform .1s ease-in-out;
    -webkit-transition: transform .1s ease-in-out;
    -moz-transition: transform .1s ease-in-out;
    -ms-transition: transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
}

#main .main__body .body__product .product__items .item:hover {
    box-shadow: .1rem .2rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: translateY(.5rem);
}

#main .main__body .body__product .product__items .item a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22rem auto;
}

#main .main__body .body__product .product__items .item .product__img img {
    min-height: 100%;
    max-width: 100%;
}

#main .main__body .body__product .product__items .item .product__name {
    margin-top: 2rem;
    text-align: center;
    color: var(--main);
    padding: 1rem;
    font-weight: 600;
}

#main .main__body .body__about {
    grid-area: 'about';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100vh;
    margin-bottom: 5rem;
}


#main .main__body .body__contact {
    grid-area: 'contact';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100vh;
    margin-bottom: 5rem;
}

#main .main__foot {
    background: var(--main);
    color: var(--white);
    height: 25rem;
    padding: 2rem 10% 0 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#main .main__foot .foot-title {
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

#main .main__foot .foot-elements {
    display: flex;
    flex-direction: column;
    width: max-content;
}

#main .main__foot .foot-elements a {
    margin: .3rem 0;
}

/* #main .main__foot .foot__about {
    background: brown;
}

#main .main__foot .foot__contact {
    background: gray;
}

#main .main__foot .foot__social {
    background: purple;
} */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 4rem;
    grid-area: footer;
    color: var(--white);
    background: var(--main);
    z-index: 99999;
}

footer a {
    color: #fff;
    margin: 0 .2rem;
}


/* single css style  */

.title {
    font-size: 3.2rem;
    font-weight: 400;
}

.title.black {
    background: var(--main);
    color: var(--white);
    padding: 2rem 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.center {
    justify-content: center;
    align-items: center;
}

.row.flex-btw {
    justify-content: space-between;
}







/* media queries */

@media (min-width: 1200px) {
    #main .main__head .head__text {
        left: 7.5rem;
    }
}

@media (max-width: 768px) {
    #main .main__foot {
        /* height: 25rem; */
        padding: 2rem 10% 0 15%;
        /* grid-template-columns: repeat(3, 1fr); */
        /* grid-template-rows: 1fr; */
    }
}

@media (max-width: 615px) {

    header {
        width: 100%;
    }

    header .header__logo p {
        line-height: 7rem;
        font-size: 3.5rem;
    }

    header .header__logo p span {
        line-height: 7rem;
        font-size: 2.5rem;
    }

    header .header__nav .header__nav-menu {
        display: block;
        position: relative;
        z-index: 7;
    }

    header .header__nav .header__nav-menu i {
        position: absolute;
        right: 0;
        cursor: pointer;
        line-height: 7rem;
        font-size: 4rem;
    }

    header .header__nav .header__nav-menu i.fa-bars,
    header .header__nav .header__nav-menu i.fa-times {
        display: none;
    }

    header .header__nav .header__nav-menu i.active {
        display: block;
    }

    header .header__nav .nav__links {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        /* width: 100vw; */
        text-align: center;
        margin-top: 7rem;
        background: var(--main);
        flex-direction: column;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform-origin: top;
        transition: transform .2s ease;
        -ms-transition: transform .2s ease;
        -webkit-transition: transform .2s ease;
        -moz-transition: transform .2s ease;
        -o-transition: transform .2s ease;
    }

    header .header__nav .nav__links a {
        opacity: 0;
    }

    header .header__nav .nav__links.active {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    header .header__nav .nav__links.active a {
        opacity: 1;
    }

    header .header__nav .nav__links>li {
        display: block;
        left: 0;
        top: 0;
        margin: 1rem 5rem;
        z-index: 99;
    }

    #main,
    #main .main__head,
    #main .main__body,
    #main .main__foot {
        padding: 0;
        width: 100%;
    }

    #main .main__head .head__text {
        font-size: 6rem;
    }

    #main .main__head .head__text .explore {
        font-size: 1.8rem;
    }

    #main .main__foot {
        height: auto;
        padding: 0;
        grid-template-columns: 1fr;
    }


    #main .main__foot .foot__about,
    #main .main__foot .foot__contact,
    #main .main__foot .foot__social {
        padding: 2% 5%;
    }

    #main .main__foot .foot-title {
        font-size: 1.7rem;
    }

    #main .main__foot .foot-elements {
        padding: auto;
        font-size: 1.5rem;
    }
}

@media (max-width: 465px) {

    #main,
    #main .main__head,
    #main .main__body,
    #main .main__foot,
    #main .main__body .body__product .product__items {
        padding: 0;
        width: 100%;
    }

    #main .main__body .body__product .product__items .item {
        height: 100%;
        width: 33rem;
    }

    #main .main__body .body__product .product__items .item a {
        grid-template-rows: 18rem auto;
    }

    #main .main__head .head__text {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50%;
        font-size: 5.5rem;
    }

}

@media (max-width: 375px) {

    #main .main__head .head__text {
        font-size: 5rem;
    }

    #main .main__body {
        margin: 0;
    }

    #main .main__body .body__product .product__items .item {
        height: 100%;
        width: 29rem;
    }

    #main .main__body .body__product .product__items .item a {
        grid-template-rows: 15rem auto;
    }

    #main .main__foot .foot-title {
        font-size: 1.6rem;
    }

    #main .main__foot .foot-elements {
        padding: auto;
        font-size: 1.4rem;
    }

}