@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main: #191919;
    --white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: var(--white);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    position: relative;
    /* overflow-x: hidden; */
    min-height: 100vh;
    max-width: 100vw;
    font-size: 1.6rem;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 7rem 1fr 4rem;
    grid-template-columns: 1fr;
}

header {
    height: 100%;
    color: var(--white);
    grid-area: header;
    line-height: 7rem;
    background: var(--main);
    padding: 0 3rem;
    font-size: 2rem;
}

header .header__logo {
    cursor: pointer;
}

header .header__logo p {
    font-size: 4rem;
    font-weight: 600;
    position: relative;
}

header .header__logo p span {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    padding: .8rem .4rem;
}

header .header__nav .nav__links>li {
    font-weight: 500;
    padding: 0 2rem;
    transition: all .2s ease;
}

header .header__nav .nav__links>li:hover {
    transform: scale(1.2);
}

section#main {
    position: relative;
    grid-area: main;
    padding: 0;
}

section#main .main__head {
    position: relative;
}

section#main .main__head .head__video {
    height: calc(100vh - 11rem); /* header and footer */
    width: 100%;
    object-fit: cover;
}

section#main .main__head .head__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 11rem); /* header and footer */
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

section#main .main__head .head__text {
    position: absolute;
    left: 7.5%;
    bottom: 3rem;
    font-size: 8rem;
    color: var(--white);
    z-index: 11;
    opacity: .85;
}

section#main .main__head .head__text .explore {
    position: relative;
    max-width: max-content;
    padding: .8rem;
    font-size: 2rem;
    border: .2rem var(--white) solid;
    cursor: pointer;
    z-index: 1;
}

/* Change color when hover Explore more */
section#main .main__head .head__text .explore:hover a,
section#main .main__head .head__text .explore:focus a {
    transition: color .2s ease-in-out; 
    color: var(--main);
}

section#main .main__head .head__text .explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    transition: transform .2s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

section#main .main__head .head__text .explore:hover::before,
section#main .main__head .head__text .explore:focus::before  {
    transform: scaleX(1);
}

section#main .main__body {
    position: relative;
    display: grid;
    grid-template-areas: 
    'product' 
    'about' 
    'contact';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

section#main .main__body .body__product {
    grid-area: 'product';
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

section#main .main__body .body__product .top {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}

section#main .main__body .body__product .top .clearfix::before,
section#main .main__body .body__product .top .clearfix::after {
    content: '';
    display: block;
    width: 36%;
    height: .2rem;
    position: absolute;  
}

section#main .main__body .body__product .top .clearfix::before {
    left: 15%;
    bottom: 0;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(93,93,105,1) 70%, rgba(255,255,255,1) 95%);
}

section#main .main__body .body__product .top .clearfix::after {
    right: 15%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,93,105,1) 70%, rgba(255,255,255,1) 95%);
}

.title {
    font-size: 3.2rem;
    font-weight: 400;
}


section#main .main__body .body__product .product__items {
    padding: 0 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem 7rem;
    align-items: center;
    justify-items: center;
}

section#main .main__body .body__product .product__items .item {
    padding: 1rem;
    height: 100%;
    width: 40rem;
    border-radius: 1rem;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform .1s ease-in-out;
}

section#main .main__body .body__product .product__items .item:hover {
    box-shadow: .1rem .2rem 1.5rem rgba(0, 0, 0, 0.1);
    transform: translateY(.5rem);
}

section#main .main__body .body__product .product__items .item a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22rem auto;
}

section#main .main__body .body__product .product__items .item .product__img img {
    min-height: 100%;
    max-width: 100%;
}

section#main .main__body .body__product .product__items .item .product__name {
    margin-top: 2rem;
    text-align: center;
    color: var(--main);
    padding: 1rem;
    font-weight: 600;
}

section#main .main__body .body__about {
    grid-area: 'about';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
section#main .main__body .body__contact {
    grid-area: 'contact';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 4rem;
    grid-area: footer;
    color: var(--white);
    background: var(--main);
    z-index: 99999;
}

footer a {
    color: #fff;
    margin: 0 .2rem;
}


.row {
    display: flex;
    flex-direction: row;
}

.row.center {
    justify-content: center;
    align-items: center;
}

.row.flex-btw {
    justify-content: space-between;
}

@media (max-width: 615px) {
    section#main .main__head .head__text {
        font-size: 6rem;
    }

    section#main .main__head .head__text .explore {
        font-size: 1.5rem;
    }

    header .header__nav .nav__links {
        display: none;
    }
}

@media (min-width: 1200px) {
    section#main .main__head .head__text {
        left: 7.5rem;
    }
}