@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


:root {
    --main: #191919;
    --white: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    position: relative;
    /* overflow-x: hidden; */
    height: 100vh;
    width: 100%;
    font-size: 1.6rem;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'header''main''footer';
    grid-template-rows: 7rem 1fr 4rem;
    grid-template-columns: 1fr;
}

header {
    color: var(--white);
    grid-area: header;
    line-height: 7rem;
    background: var(--main);
    padding: 0 3rem;
    font-size: 2rem;
}

header .header__logo {
    cursor: pointer;
}

header .header__logo p {
    font-size: 4rem;
    font-weight: 600;
    position: relative;
}

header .header__logo p span {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    padding: .8rem .4rem;
}

header .header__nav .nav__links>li {
    font-weight: 500;
    padding: 0 2rem;
    transition: all .2s ease;
}

header .header__nav .nav__links>li:hover {
    transform: scale(1.2);
}

header .header__nav .nav__links>li a {
    color: var(--white);
}

section#main {
    position: relative;
    grid-area: main;
    padding: 0;
    margin-bottom: 4rem;
}

section#main .main__head {
    position: relative;
}

section#main .main__head .head__video {
    height: calc(100vh - 11rem); /* header and footer */
    width: 100%;
    object-fit: cover;
}

section#main .main__head .head__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 10.9rem); /* header and footer */
    background: rgba(0, 0, 0, 0.5);
    /* background: black; */
    z-index: 10;
}

section#main .main__head .head__text {
    position: absolute;
    left: 6.5rem;
    bottom: 3rem;
    font-size: 8rem;
    color: var(--white);
    z-index: 11;
    opacity: .85;
}

section#main .main__head .head__text .explore {
    position: relative;
    width: fit-content;
    padding: .8rem;
    font-size: 2rem;
    border: .2rem var(--white) solid;
    cursor: pointer;
    z-index: 1;
}

section#main .main__head .head__text .explore:hover,
section#main .main__head .head__text .explore:focus {
    transition: color .65s ease-in-out;
    color: var(--main);
}

section#main .main__head .head__text .explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--white);
    transition: transform .35s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}

section#main .main__head .head__text .explore:hover::before,
section#main .main__head .head__text .explore:focus::before  {
    transform: scaleX(1);
}

section#main .main__body {
    display: grid;
    grid-template-areas: 'product' 'about' 'contact';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 7rem 5rem;
}

.title {
    font-size: 3.2rem;
    font-weight: 400;
}

section#main .main__body .clearfix::before,
section#main .main__body .clearfix::after {
    content: '';
    display: block;
    width: 36%;
    height: .2rem;
    position: absolute;  
}

section#main .main__body .clearfix::before {
    left: 15%;
    bottom: 0;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(93,93,105,1) 70%, rgba(255,255,255,1) 95%);
}

section#main .main__body .clearfix::after {
    right: 15%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,93,105,1) 70%, rgba(255,255,255,1) 95%);
}

section#main .main__body .body__product {
    grid-area: 'product';
    position: relative;
}

section#main .main__body .body__about {
    grid-area: 'about';
    position: relative;
}

section#main .main__body .body__contact {
    grid-area: 'contact';
    position: relative;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 4rem;
    grid-area: footer;
    color: var(--white);
    background: var(--main);
    z-index: 99999;
}

footer a {
    color: #fff;
    margin: 0 .2rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.column.center {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.center {
    justify-content: center;
    align-items: center;
}

.row.flex-btw {
    justify-content: space-between;
}